# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/
ENV/
env/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Secrets
.env

# Playwright artifacts (если появятся)
test-results/
playwright-report/
blob-report/
*.zip
